<!DOCTYPE html><html><head><link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" /></head><body><div class="v1_72"><div class="name"></div><div class="name"></div><div class="name"></div><div class="name"></div><div class="name"></div><span class="v1_101">Email</span><span class="v1_102">Password</span><span class="v1_103">Username</span><div class="name"></div><span class="v1_105">Sign Up</span><div class="name"></div><div class="v1_107"></div><div class="name"></div></div></body></html> <br/><br/> <style>* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_72 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_101 {
  width: 73px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 445px;
  left: 662px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_102 {
  width: 132px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 563px;
  left: 668px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1_103 {
  width: 134px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 329px;
  left: 664px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_105 {
  width: 171px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 259px;
  left: 869px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1_107 {
  width: 555px;
  height: 101px;
  background: url("../images/v1_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 682px;
  overflow: hidden;
}
.name {
  color: #fff;
}
</style>